<ion-content>
    <ion-button class="round" expand="block" >Ajouter agent</ion-button> 

<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Jean-Bon</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
    	<ion-col center text-center>
          <div>Agent de maintenance</div>          
          <div>Aix-en-Provence</div>
        </ion-col>
     	<ion-col>
        	<ion-button color="light" routerLink="/vehicule-spec">Informations</ion-button>
      	</ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>




<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Jean-Bière</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
    	<ion-col center text-center>
          <div>Agent de maintenance</div>          
          <div>Aix-en-Provence</div>
        </ion-col>
     	<ion-col>
        	<ion-button color="light" routerLink="/vehicule-spec">Informations</ion-button>
      	</ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Jean-Trésor</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
    	<ion-col center text-center>
          <div>Agent de maintenance</div>          
          <div>Aix-en-Provence</div>
        </ion-col>
     	<ion-col>
        	<ion-button color="light" routerLink="/vehicule-spec">Informations</ion-button>
      	</ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Jean-D'armerie</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
    	<ion-col center text-center>
          <div>Agent de maintenance</div>          
          <div>Aix-en-Provence</div>
        </ion-col>
     	<ion-col>
        	<ion-button color="light" routerLink="/vehicule-spec">Informations</ion-button>
      	</ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>

</ion-content>
