<ion-content>
    <ion-button class="round" expand="block" >Ajouter agence</ion-button> 

<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Agence de Aix-en-Provence</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>
			<img src="/assets/WebExport/image_agence1.png" alt="ion">
      </ion-col>

      <ion-col >
          <ion-button size="small" color="light" routerLink="/detail-agence">Détails</ion-button>
          <ion-item class ="one">
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence1.png">
              </ion-avatar>
              <ion-label>Michel Fraise</ion-label>
            </ion-chip>
            </ion-item>

          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Aix-en-Provence</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>

     </ion-row>
  </ion-card-content>
</ion-card>




<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Agence de Marseille</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>
      <img src="/assets/WebExport/image_agence2.png" alt="ion">
      </ion-col>

      <ion-col >
          <ion-button size="small" color="light" routerLink="/vehicule-spec">Détails</ion-button>
          <ion-item class ="one">
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence1.png">
              </ion-avatar>
              <ion-label>Michel Fraise</ion-label>
            </ion-chip>
            </ion-item>

          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Aix-en-Provence</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>

     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Agence de Nice</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>
      <img src="/assets/WebExport/image_agence3.png" alt="ion">
      </ion-col>

      <ion-col >
          <ion-button size="small" color="light" routerLink="/vehicule-spec">Détails</ion-button>
          <ion-item class ="one">
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence1.png">
              </ion-avatar>
              <ion-label>Michel Fraise</ion-label>
            </ion-chip>
            </ion-item>

          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Nice</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>

     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Agence de Grenoble</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>
      <img src="/assets/WebExport/image_agence3.png" alt="ion">
      </ion-col>

      <ion-col >
          <ion-button size="small" color="light" routerLink="/vehicule-spec">Détails</ion-button>
          <ion-item class ="one">
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence1.png">
              </ion-avatar>
              <ion-label>Michel Fraise</ion-label>
            </ion-chip>
            </ion-item>

          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Grenoble</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>

     </ion-row>
  </ion-card-content>
</ion-card>


</ion-content>