<ion-content>
  <img class='logo' src="/assets/WebExport/logo.png" alt="ion" routerLink="/menu-principal">
    <ion-button class="round" expand="block" >Ajouter agence</ion-button> 

<ion-card *ngFor="let agence of agences">
  <ion-card-header>
<ion-item>
  <ion-label center text-center>{{agence.agecId}}</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>
			<img src="/assets/WebExport/image_agence1.png" alt="ion">
      </ion-col>

      <ion-col >
          <ion-button size="small" color="light" routerLink="/detail-agence/{{agence.AgecId}}">Détails</ion-button>
          <ion-item class ="one">
            <ion-chip>
               <ion-icon size="large" name="person"></ion-icon>
              <ion-label>{{agence.agecNom}}</ion-label>
            </ion-chip>
            </ion-item>

          <ion-item>
            <ion-chip>
                <ion-icon size="large" name="map"></ion-icon>
              <ion-label>{{agence.agecAdresse}}</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>

     </ion-row>
  </ion-card-content>
</ion-card>


</ion-content>
