<ion-content>
	<img class='logo' src="/assets/WebExport/logo.png" alt="ion" routerLink="/menu-principal">

<ion-card class ='one' routerLink="/gestion-parc">
  <ion-card-header>
<ion-item>
  <ion-avatar  slot="start">
  	<ion-icon size="large" name="car"></ion-icon>
  </ion-avatar>
  <ion-label center text-center>Gestion parc automobile</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <div>Ajouter, modifier ou supprimer des véhicules de la flotte.</div>
  </ion-card-content>
</ion-card>




<ion-card routerLink="/gestion-agence">
  <ion-card-header>
<ion-item>
  <ion-avatar slot="start">
  	<ion-icon size="large" name="business"></ion-icon>
  </ion-avatar>
  <ion-label center text-center>Consultation des agences</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <div>Consulter les informations pour les agences</div>
  </ion-card-content>
</ion-card>

<ion-card routerLink="/gestion-agent"> 
  <ion-card-header>
<ion-item>
  <ion-avatar slot="start">
	<ion-icon size="large" name="man"></ion-icon>
  </ion-avatar>
  <ion-label center text-center>Consultation des agents</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    Ajouer, modifier ou supprimer des informations pour les agents.
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar slot="start">
  	<ion-icon size="large" name="construct"></ion-icon>
  </ion-avatar >
  <ion-label center text-center>Gestion des SAV</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    Consulter les informations des SAV pour les véhicules de la flotte.
  </ion-card-content>
</ion-card>

</ion-content>
