ion-content{
    --background: #fff url('/assets/WebExport/bg_SOCOPEC_test.png') no-repeat center center / cover;
}
ion-button{	
    position: relative;
    margin:auto;

}

.login{
	position: relative;
    margin:auto;
    margin-top:60vh;
    padding-bottom: 5px;
}

.mdp{
    padding-bottom: 5px;
}
