<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
          <ion-item class="login">
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>

          <ion-item class="mdp">
            <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>
    <ion-button expand="block" routerLink="/menu-principal">Connexion</ion-button> 
</ion-content>
