
<ion-content>
    <img class='logo' src="/assets/WebExport/logo.png" alt="ion" routerLink="/menu-principal">
    <ion-button class="round" expand="block" >Ajouter véhicule</ion-button> 







<ion-card *ngFor="let vehicule of vehicules">
  <ion-card-header>
<ion-item>
  <ion-label center text-center>{{vehicule.modeleLibelle}}</ion-label>
</ion-item>
  </ion-card-header>

  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img class="fatPicture" src="/assets/WebExport/Image_{{vehicule.modeleId}}.png" alt="ion">
        
      </ion-col>
      <ion-col >

          <ion-button size="small" color="danger" routerLink="/vehicule-spec/{{vehicule.id}}">Détails</ion-button>
          
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon awesome-exclamation-Fat.png">
              </ion-avatar>
              <ion-label>{{vehicule.statutLibelle}}</ion-label>
            </ion-chip>
            </ion-item>
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>{{vehicule.agenceLibelle}}</ion-label>
            </ion-chip>
            </ion-item>

            <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon material-card-membershipFat.png">
              </ion-avatar>
              <ion-label>{{vehicule.immatriculation}}</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>







</ion-content>
