
<ion-content>
    <ion-button class="round" expand="block" >Ajouter véhicule</ion-button> 

<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Elevateur à nacelle 121F</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img class="fatPicture" src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >

          <ion-button size="small" color="danger" routerLink="/vehicule-spec">Détails</ion-button>
          
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon awesome-exclamation-Fat.png">
              </ion-avatar>
              <ion-label>En maintenance</ion-label>
            </ion-chip>
            </ion-item>
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Aix-en-Provence</ion-label>
            </ion-chip>
            </ion-item>

            <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon material-card-membershipFat.png">
              </ion-avatar>
              <ion-label>ZY-837-XE</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>




<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar>

  </ion-avatar>
  <ion-label center text-center>Elevateur à nacelle 162F</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >


          <ion-button size="small" color="danger" routerLink="/vehicule-spec">Détails</ion-button>
          
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon awesome-exclamation-Fat.png">
              </ion-avatar>
              <ion-label>En maintenance</ion-label>
            </ion-chip>
            </ion-item>
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Aix-en-Provence</ion-label>
            </ion-chip>
            </ion-item>

            <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon material-card-membershipFat.png">
              </ion-avatar>
              <ion-label>AC-879-ZE</ion-label>
            </ion-chip>
            </ion-item>
        
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar>

  </ion-avatar>
  <ion-label center text-center>Nacelle araignée TR 170</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >


          <ion-button size="small" color="danger" routerLink="/vehicule-spec">Détails</ion-button>
          
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon awesome-exclamation-Fat.png">
              </ion-avatar>
              <ion-label>En maintenance</ion-label>
            </ion-chip>
            </ion-item>
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Aix-en-Provence</ion-label>
            </ion-chip>
            </ion-item>

            <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon material-card-membershipFat.png">
              </ion-avatar>
              <ion-label>AC-879-ZE</ion-label>
            </ion-chip>
            </ion-item>
        
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar>

  </ion-avatar>
  <ion-label center text-center>Elevateur</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >

 
          <ion-button size="small" color="danger" routerLink="/vehicule-spec">Détails</ion-button>
          
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon awesome-exclamation-Fat.png">
              </ion-avatar>
              <ion-label>En maintenance</ion-label>
            </ion-chip>
            </ion-item>
          <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon-Agence2Map.png">
              </ion-avatar>
              <ion-label>Aix-en-Provence</ion-label>
            </ion-chip>
            </ion-item>

            <ion-item>
            <ion-chip>
              <ion-avatar>
                <img src="/assets/WebExport/Icon material-card-membershipFat.png">
              </ion-avatar>
              <ion-label>AC-879-ZE</ion-label>
            </ion-chip>
            </ion-item>
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


</ion-content>