
<ion-content>
    <ion-button expand="block" >Ajouter véhicule</ion-button> 

<ion-card>
  <ion-card-header>
<ion-item>
  <ion-label center text-center>Elevateur à nacelle 121F</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >

          <ion-button color="danger" routerLink="/vehicule-spec">Détails</ion-button>
          
          <div>AC-879-ZE</div>
          
          <div>Aix-en-Provence</div>
                    
          <div>En maintenance</div>
        
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>




<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar>

  </ion-avatar>
  <ion-label center text-center>Elevateur à nacelle 162F</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >

          <ion-button color="danger">Détails</ion-button>
          
          <div>AC-879-ZE</div>
          
          <div>Aix-en-Provence</div>
                    
          <div>En maintenance</div>
        
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar>

  </ion-avatar>
  <ion-label center text-center>Nacelle araignée TR 170</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >

          <ion-button color="danger">Détails</ion-button>
          
          <div>AC-879-ZE</div>
          
          <div>Aix-en-Provence</div>
                    
          <div>En maintenance</div>
        
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
<ion-item>
  <ion-avatar>

  </ion-avatar>
  <ion-label center text-center>Elevateur</ion-label>
</ion-item>
  </ion-card-header>
  <ion-card-content center text-center>
    <ion-row>
      <ion-col center text-center>

			<img src="/assets/WebExport/Image_1.png" alt="ion">
        
      </ion-col>
      <ion-col >

          <ion-button color="danger">Détails</ion-button>
          
          <div>AC-879-ZE</div>
          
          <div>Aix-en-Provence</div>
                    
          <div>En maintenance</div>
        
      </ion-col>
     </ion-row>
  </ion-card-content>
</ion-card>


</ion-content>